@model Apartment_Bookeeping.Models.ApartmentNum
@{
    ViewBag.Title = "DeleteAptNum";
}

<h2>Delete Apartment Number of @Html.DisplayFor(model => model.Apartment.Name)</h2>

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Apartment</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Apartment.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Apartment.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AptNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AptNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumBaths)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumBaths)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumRooms)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumRooms)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RentPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RentPrice)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        <!--goes back to the details page of affected apartment complex with the use of the AptID viewbag-->
        @Html.ActionLink("Back to Apartment Details", "Details", new { id = Model.ApartmentID })
    </p>
}