@model Apartment_Bookeeping.Models.Apartment

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Apartment Complex: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Apartment</legend>

        @Html.HiddenFor(model => model.ApartmentID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ZipCode, "Zip Code")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ZipCode)
            @Html.ValidationMessageFor(model => model.ZipCode)
            @Html.ValidationMessage("ZipCodeNotFound")
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonID, "Manager")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PersonID", String.Empty)
            @Html.ValidationMessageFor(model => model.PersonID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
